html {
    overflow-y: scroll;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
}

article,
aside,
footer,
header,
hgroup,
nav,
section {
    display: block;
}